.container {
    background-color: aliceblue;
    height: 100vh;
}

.sign_up_container {
    width: 40%;
    margin: 30px auto;

}

form {
    padding: 0px 30px 20px 30px;
}

.login-page {
    width: 40%;
    margin: 30px auto;
}

.paper {
    border-radius: 70px;
}

.question-color {
    color: darkblue !important;
}

.p-all {
    padding: 5px 5px 5px 5px;
}

.p-bottom-20 {
    padding-bottom: 20px;
}

/* .p-top-10 {
    padding-bottom: 20px;
} */

.p-left-20 {
    padding-left: 20px
}

.p-right-20 {
    padding-right: 20px
}

.p-right-10 {
    padding-right: 10px
}

.m-right-5 {
    margin-right: 10px
}

.f-size-12 {
    font-size: 13px !important;
}

.w-30 {
    width: 30%;
}

.p-bottom-10 {
    padding-bottom: 10px;
}

.p-top-10 {
    padding-top: 10px;
}