.h-50 {
    width: 24%;
    min-height: 300px;
    background-color: rgba(255, 255, 255, 0.3);
}

.navtags {
    color: darkslategrey !important;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding-left: 5px;
    width: auto;
}

.m-right-10 {

    margin-bottom: 20px;
}

.p-inside {
    padding: 10px 10px 10px 10px;
}

.p-top {
    padding-top: 5px;
}

.p-left-10 {
    padding-left: 10px;
}

.p-right-10 {
    padding-left: 10px;
}

.width-fit {
    width: fit-content;
}

.text-ellipsis {
    text-overflow: ellipsis;
}

.text-color {
    color: #D0D3D4;
}